.hrBtn
{
    display: block;
    margin: 0px 2px 1px 0px;
    padding: 1px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(208, 208, 224, 0);
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box; 
    background-color: #d0d0e0;
    color: black;
    font-size: 10pt;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    line-height: 1.5;
    -webkit-transition : all 100ms linear;
    -moz-transition : all 100ms linear;
    -o-transition : all 100ms linear;
    transition : all 100ms linear;
}
.hrBtn.inline
{
    float: left;
}
.hrBtn.dark
{
    background-color: #a0a0b0;
}

.hrBtn.hrClick
{
    cursor: pointer;
}
.hrBtn.hrClick:hover
{
    border-color: rgba(192, 192, 208, 1);
    background-color: #c0c0d0;
}

.trackView, .messagesOvl, .hostListOvl
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.trackView
{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.hostView
{
    position: absolute;
    top: 4px;
    right: 2px;
}

.playerView
{
    position: absolute;
    display: inline-block;
    margin-top: 31px;
    right: 2px;
    max-height: calc(100% - 28px);
    overflow-y: auto;
}
.playerViewTable
{
    width: 100%;
    height: 100%;
    margin-right:0px;
    margin-left:auto;
    padding:0px;
    border-collapse: collapse;
    border-spacing: 0;
}
.playerViewTable td
{
    margin: 0;
    padding: 0;
    border: none;
}

.messagesOvl
{
    position: absolute;
    padding-bottom: 2px;
    background-color: white;
    border: 1px solid black;
}
.messagesOvl div
{
    padding: 1px 5px 0px 5px;
    font-size: 9pt;
    line-height: 1.25;
}

.hostListOvl
{
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    background-color: rgba(0, 0, 0, 0.75);
}

.hostListList
{
    width: 500px;
    height: 100%;
    margin: auto;
    overflow-y: auto;
}